<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nccstory.ml.androidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/image12701"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/App"
        android:usesCleartextTraffic="true">
        <activity android:name=".notification"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".aboutapp"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".music_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".songview"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".armypdf"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".navypdf"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".airforcepdf"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".quizplay"
            android:parentActivityName=".MainActivity" />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8901228422197240~8742386456" />
    </application>

</manifest>